col-padding = 0.15%

col-width(columns)
	100% / columns - col-padding * 2

.grid-container
	width: 100%
	overflow: hidden
.row:before,
.row:after
	content: ""
	display: table
	clear: both

[class*='col-']
	float: left
	min-height: 1px
	width: col-width(12)
	padding: col-padding

.col-1
	width: col-width(12)
.col-2
	width: col-width(6)
.col-4
	width: col-width(3)
.col-6
	width: col-width(2)
.col-8
	width: col-width(1.5)
.col-10
	width: col-width(1.2)
.col-12
	width: col-width(1)

[class*='col-'] > p
	background-color: #DBE7EA
	padding: 0
	margin: 0
	text-align: center
	color: #000000

@media screen and (max-width: 800px) and (orientation: landscape)
	.col-1
		width col-width(12)
	.col-2
		width: col-width(6)
	.col-4
		width: col-width(3)
	.col-6
		width: col-width(2)
	.col-8
		width: col-width(1)
	.col-10
		width: col-width(1)
	.col-12
		width: col-width(1)
	.row .col-8 ~ .col-4
		width: col-width(1)
	.row .col-4 ~ .col-8
		width: col-width(1.5)
	.row .col-10 ~ .col-2
		width: col-width(1)
	.row .col-2 ~ .col-10
		width: col-width(1.2)

	@media screen and (max-width: 600px) and (orientation: landscape)
		.col-1
			width: col-width(6)
		.col-2
			width: col-width(2)
		.col-4
			width: col-width(1)
		.col-6
			width: col-width(1)
		.col-8
			width: col-width(1)
		.col-10
			width: col-width(1)
		.col-12
			width: col-width(1)
		.row .col-2 ~ .col-4
			width: col-width(2)
		.row .col-8 ~ .col-4
			width: col-width(1)
		.row .col-4 ~ .col-8
			width: col-width(1)
		.row .col-10 ~ .col-2
			width: col-width(1)
		.row .col-2 ~ .col-10
			width: col-width(2)

		@media all and (max-width: 400px)
			.col-1
				width: col-width(2)
			.col-2
				width: col-width(1)
			.row .col-2 ~ .col-4
				width: col-width(1)
			.row .col-2 ~ .col-10
				width: col-width(1)